
		/*element tags*/
		div { background-color: green; }

		/*class tags*/
		.one { padding-bottom: 100px }

		/*id tags*/ 
/*		#darcy { width: 50%; }
*/
		@media (min-width: 768px ) {
			div{
			background-color: yellow;
			margin: 1%;
			width: 31%;
			float: left;
			}
		}
